* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  background-color: #fff;
  color: #222;
}

nav {
  font-size: 1.2rem;
  background-color: rgb(109, 17, 17);
  color: #fff;
  text-align: center;
  padding-bottom: .75rem;
}

nav .site-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding: .5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: .75rem;
}

nav .active {
  color: #ccc;
}

nav a:hover {
  color: #ccc
}

.set-list {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  columns: 3;
}

.set-list a {
  color: #222;
  text-decoration: none;
  line-height: 1.65;
}

.set-list a:hover {
  color:rgb(109, 17, 17)
}

.set-page {
  padding: 2rem;
  text-align: center;
}

.set-link a {
  text-decoration: none;
  color:rgb(109, 17, 17)
}

.set-link a:hover {
  color:rgb(170, 19, 19);
}

.card-grid {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card-grid a {
  text-decoration: none;
}

.card {
  max-width: 200px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222
}

.card-image {
  overflow: hidden;
}

.card-image > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-image > img {
  transform: scale(1.025);
}

.card-name {
  padding: .5rem;
}
 .counter {
  margin-top: 2rem;
  margin-left: 3rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
 }

 h3 {
  font-size: 1.1rem;
 }

 .quote {
  margin-top: 5rem;
  margin-bottom: 7rem;
  font-size: 1.1rem;
  line-height: .75;
 }

.mini-container {
  max-width: 750px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

 .mini-image {
  float: right;
 }

 .mini-image > img {
  width: 300px;
  max-height: auto;
 }

 .mini-details {
  margin-top: 2.5rem;
  font-size: 1.1rem;
 }

 .form-link {
  background: #fff;
  font-size: .9rem;
  border-radius: .25em;
  border-color: #777;
  cursor: pointer;
  padding: .25rem;
  margin: .75rem;
}

.form-link:hover, .form-link:focus {
  background: #ddd;
}

.set-form {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  max-width: 550px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .25rem;
}

.form-text {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 2.25rem;
  text-align: left;
  line-height: 1.25;
}

.form-btn {
  margin-top: 2rem;
  max-width: 125px;
  padding: .225rem;
  background-color: white;
}

.form-btn:hover, .form-btn:focus {
  background: #ccc;
  cursor: pointer;
}

.new-select {
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  width: 100%;
  padding: .25rem 5px;
  margin: .4rem 0;
}

input {
  font-size: 1rem;
  color: inherit;
  width: 100%;
  padding: .25rem 5px;
  margin: .4rem 0;
}

.mini-btn {
  background: #fff;
  font-size: .9rem;
  border-radius: .25em;
  border-color: #777;
  cursor: pointer;
  padding: .25rem;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
}

.mini-btn:hover, .mini-btn:focus {
  background: #ccc;
  cursor: pointer;
}

.mini-header {
  display: inline-block;
}

label {
  font-weight: bold;
}