* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  background-color: #fff;
  color: #222;
}

nav {
  font-size: 1.2rem;
  background-color: rgb(109, 17, 17);
  color: #fff;
  text-align: center;
  padding-bottom: .75rem;
}

nav .site-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding: .5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: .75rem;
}

nav a:hover {
  color: #222
}

.setList {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  columns: 3;
}

.setList a {
  color: #222;
  text-decoration: none;
  line-height: 1.65;
}

.setList a:hover {
  color:rgb(109, 17, 17)
}

.miniatureList {
  padding: 4rem;
  columns: 6;
}

.setPage {
  padding: 2rem;
  text-align: center;
}

.card-grid {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card-grid a {
  text-decoration: none;
}

.card {
  max-width: 200px;
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222
}

.card-image {
  overflow: hidden;
}

.card-image > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-image > img {
  transform: scale(1.025);
}

.card-name {
  padding: .5rem;
}
 .counter {
  margin-top: 2rem;
  margin-left: 3rem;
 }

 h3 {
  font-size: 1.1rem;
 }

 .quote {
  margin-top: 5rem;
  margin-bottom: 7rem;
  font-size: 1.1rem;
 }

.mini-container {
  max-width: 750px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

 .mini-image {
  float: right;
 }

 .mini-image > img {
  width: 300px;
  max-height: auto;
 }

 .mini-details {
  margin-top: 2.5rem;
  font-size: 1.1rem;
 }